@section Scripts
{
    <script src="~/js/login/index.js"></script>
}

<style>

    table {
        margin-left: auto;
        margin-right: auto;
    }

    .inputkey {
        padding: 14px 20px;
    }

    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }

    .container {
        width: 900px;
        background: #fff;
    }
</style>


<form id="form" action="/Login/Authenticate" method="POST">
    <table>
        <tr>
            <td>

                <div>
                    <div>
                        <figure style="margin-bottom: 50px; text-align: left;"><img src="~/images/signin-image.jpg" style="vertical-align:middle; margin-top: 20px; margin-left: 50px; margin-right:15px; height:450px;" /></figure>
                    </div>
                </div>
            </td>

            <td>

            <td class="inputkey">
                <h2 style="line-height:1.66px; font-weight: bold; color:black; font-size: 36px; display: block;"> Login</h2>
                <br />
                <div style="position:relative; margin-bottom: 25px; overflow: hidden; display: block;">

                    Username:
                    <input id="username" type="text" name="username" class="form-control" value=@ViewData["lasttypedusername"] style="width:100%; display: block; padding: 6px 15px; box-sizing: border-box;" />

                    Password:
                    <input id="password" type="password" name="password" class="form-control" style="width:100%; display: block; padding: 6px 15px; box-sizing: border-box;" />
                    <br />
                    <input type="Submit" value="Log In" class="btn btn-primary" style="padding:15px 39px; display: inline-block; width:100%; height:50%;" />
                </div>
            </td>
            <td colspan="2" align="center">
                <div id="err_msg">@ViewData["errMsg"]</div>
            </td>
        </tr>

    </table>
</form>


