
<div class="container" style="text-align:center; height:70%">
    <img src="~/images/banned.png" />
</div>
<br />
<br />
<script>
    alert("You have been banned by the website administrator.")
</script>
<h2 style="text-align:center">Banned</h2>
